*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

*:focus {
    outline: none
}

html {
    margin: 0;
}

@font-face {
    font-family: 'UTM-Avo';
    src: url('./assets/font/UTMAvoBold.woff2') format('woff2'),
         url('./assets/font/') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy-XBold';
    src: url('./assets/font/SVN-GilroyXBold.woff2') format('woff2'),
         url('/assets/font/SVN-GilroyXBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/SVN-GilroyMedium.woff2') format('woff2'),
         url('./assets/font/SVN-GilroyMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-1: #007BFF;
    --color-2: #0000;
    --white-color: #FFFFFF;
}

body {
    font-family: 'SVN-Gilroy';
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    font-weight: 500;
    background-color: var(--white-color);
}

.container{
    max-width: 1400px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'UTM-Avo';
}

strong{
    font-family: 'SVN-Gilroy-XBold';
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 56.25%;
}
.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}